@page "/authentication/ChangePassword"
@inject IAuthService _service
@inject NavigationManager _navigationManager


<div class="row justify-content-md-center">
    <div class="col-md-6 mt-4 shadow p-3 mb-4 bg-white rounded">

        <h2 class="text-center">Reset-Password</h2>
        
        @if (ShowErrors) {
            <div class="alert alert-danger" role="alert">
                <p>@Error</p>
            </div>
        }

        <EditForm Model="resetModel" OnValidSubmit="ResetPassword" class="card card-body bg-light mt-5">

            <div class="form-group">
                <label for="userName">Username</label>
                <InputText @bind-Value="resetModel.Username" id="userName" class="form-control form-control-sm" />
                <ValidationMessage For="@(() =>resetModel.Username)" />
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <InputText @bind-Value="resetModel.Password" id="password" class="form-control form-control-sm" type="password" />
                <ValidationMessage For="@(() =>resetModel.Password)" />
            </div>
            
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <InputText @bind-Value="resetModel.NewPassword" id="newPassword" class="form-control form-control-sm" type="password" />
                <ValidationMessage For="@(() =>resetModel.NewPassword)" />
            </div>
            
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <InputText @bind-Value="resetModel.ConfirmPassword" id="confirmPassword" class="form-control form-control-sm" type="password" />
                <ValidationMessage For="@(() =>resetModel.ConfirmPassword)" />
            </div>

            <hr />

            <button type="submit" class="btn btn-success btn-block mr-2">reset password</button>
        </EditForm>
        <hr />

    </div>
</div>

@code {

    private readonly ChangePasswordVm resetModel = new();
    private bool ShowErrors;
    private string Error = "";

    private async Task ResetPassword()
    {
        ShowErrors = false;

        var result = await _service.ResetPassword(resetModel);

        if (result.IsSuccess) {
            await _service.Logout();
            _navigationManager.NavigateTo("/authentication/login");
        } else {
           ShowErrors = true;
        }
    }

}
